{{ define "main" }}
   {{ $projects := slice "creations" "contributions" "obsidian-plugins" "misc-projects" }}
   {{ $sections := slice "publications" "blog" }}
   {{ $site := .Site }}
   {{ $home := . }}
   {{ range .Site.Params.sections }}
      {{ $sectionName := . }}
      {{ if eq . "about" }}
         {{ partial "about.html" $home }}
      {{ else if in $projects . }}
         {{ with $site.GetPage "section" (printf "projects/%s" .) }}
            {{ .Scratch.Set "sectionId" $sectionName }} 
            {{ partial "sectionSummary" . }}
         {{ end }}
      {{ else if in $sections . }}
         {{ with $site.GetPage "section" . }}
            {{ .Scratch.Set "sectionId" $sectionName }} 
            {{ partial "sectionSummary" . }}
         {{ end }}
      {{ else }}
         {{ partial (printf "portfolio/%s" . ) $home }}
      {{ end }}
   {{ end }}
   {{ if .Site.Params.showContact }}
      {{ partial "contact_section.html" $home }}
   {{ end }}
{{ end }}
